.person-card{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    outline: solid 6px transparent;
}

.person-card .person-photo-link{
    outline: solid 6px transparent;
}

.person-card img{
    position: relative;
    width: 100%;
    display: block;
    aspect-ratio: 1 / 1.5;
    object-fit: cover;
    background-color: #1118;
    border-radius: 4px;
    transition: 0.3s ease-out;
    
}

.person-card a{
    outline: none;
}

.person-card a:hover {
    border-radius: 4px;
    outline: solid 6px #ffffff22;
}


.person-card .person-name {
    font-size: 17px;
    font-weight: 600;
    color: #faf8ed;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    white-space: normal;
    margin: 0;
    text-align: left;
    display: inline;
}

.person-card.winner:hover img {
  outline: 6px solid #B29930;
}